.slideshow {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  background-color: #373d48;
  font-family: serif;
}

.rover-photo {
  max-height: 60vh;
  max-width: 80%;
  margin: 10px 0;
  pointer-events: none;
  user-select: none;
}

.slide-in {
  animation: slide-in 0.5s 1;
}

@keyframes slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@keyframes slide-out {
    100% { transform: translateX(-100%); }
}
