.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  max-width: 650px;
  margin: 30px 0;
}

.dropdown {
  width: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.dropdown-label {
  text-emphasis: bold;
}


.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50px;
}
